/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

/* header styles */
.header-info{
    width: 95vw;
}
.header-body{
    display: flex;
    background: rgb(22, 22, 22);
    border-radius: 30px;
    margin-left: 6vw;
    margin-top: 6vw;
    margin-right: 6vw;
    justify-content: center;
    align-items: center;
    
    
}
.body-info{
    

}
.header-text{
   
    
}
.header-details{

}
.header-title{
    color: #FFFFFF;
    font-size: 6vw;
    margin-left: 6vw;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.header-para{
    color: #FFFFFF;
    margin-left: 6vw;
    font-size: 16px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    
}
.header-btn{
    background: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 6vw;
    padding-inline: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0px;
    color: #FFFFFF;
}
.fa-circle-right{
    margin-left: 10px;
    font-size: 20px;
}
.header-img{
    
    
}
.img-one{
    height: 43vw;
    width: 37vw;
    margin-top: 11vw;
    margin-right: 10px;
}

/* main-section */
.main-section{

}
.body-section{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 6vw;
    justify-content: flex-start;
}

.body-one{
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    margin-right: 24px;
}
.body-btn{
    width: 252px;
    height: 64px;
    border-radius: 10px;
    margin-inline: 30px;
    margin-top: 30px;
    color: #161616;
    font-size: 20px;
    border: 0px;
    color: black
    
}
.body-btn a{
    text-decoration: none;
    font-weight: bold;
    color: black

}
#special{
    background-color: 
    #DD0000;
    color: #FFFFFF;
}
.body-two{
    
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.grid-styl{
    box-shadow: 0px 0px 1px 0px;
    border-radius: 5px;
}
.body-two-img{}
.bdy-img{
    width: 100%;
    height: 175px;
    margin-bottom: 20px;
}
.body-info{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    padding-bottom: 10px;
}
.transfer{
    border: 1px solid black;
    padding-inline: 19px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100px;
    height: 32px;
}
.info-para{
    color: #161616;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.details{}
.fa-clock{
    padding-right: 10px;
    margin-left: 10px;
}
.fa-comment-dots{
    margin-left: 30px;
    padding-right: 10px;
}
.view-all-btn{
    text-align: center;
    margin-top: 80px;
    display: none;
}
.view-all{
    background: #DD0000;
    border-radius: 5px;
    border: 0px;
    padding-inline: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.view-all a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 40px;
}
/* footer section style  */

.footer-sec{
    background: #161616;
    margin-top: 130px;
}
.footer-body{}
.footer-text{
    text-align: center;
    
}
.foter-title{
    color: #FFFFFF;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 35px;
}
hr{
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;

}
.footer-details{
    
}
.footer-menu{
    text-align: center;
}
.footer-menu a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 15px;
    margin-inline: 31px;
}
.footer-social{
    text-align: center;
    padding: 40px;
}
.fa-facebook{
    color: white;
    font-size: 40px;
    margin-inline: 20px;
}
.fa-linkedin{
    color: white;
    font-size: 40px;
    margin-inline: 20px;
}
.fa-instagram-square{
    color: white;
    font-size: 40px;
    margin-inline: 20px;
}
/* responsive styles for tab */

@media only screen and (min-width: 768px) and (max-width:1024px){
    .body-two{
        grid-template-columns: repeat(2, 1fr);
    }
    .body-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body-one{
        
        margin-left: 16px;
        display: inline-flex;
        background-color: white;
        height: 124px;
        justify-content: center;
        align-items: center;
        margin-bottom: 27px;
        

    }
    .body-btn{
    
        padding-inline: 26px;
        font-size: 15px;

    }
    .view-all-btn{
        display: block;
    }
    
    
  }
  /* responsive styles for mobile */

  @media only screen and (max-width: 760px){

    .header-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header-title{
        font-size: 30px;
        text-align: center;
        margin-top: 34px;
        margin-inline: 9px;

    }
    .header-para{
        text-align: center;
        text-align: justify;
        font-size: 12px;
        margin-right: 22px;

    }
    .header-btn{
        margin-left: 24vw;
        margin-top: 30px;
    }
    .body-two{
        grid-template-columns: repeat(1, 1fr);
    }
    .body-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    .body-one{
        
        margin-left: 16px;
        display: inline-flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin-bottom: 27px;
        flex-direction: column;
        

    }
    .body-btn{
    
        padding-inline: 16px;
        font-size: 15px;

    }
    .footer-menu{
        display: grid;

    }
    
  }
  /* upcoming page styles */
  .up-body-two-img{}
  .up-bdy-img{
    margin-inline: 12px;
    margin-top: 14px;
  }
  #vs{
    font-size: 15px;
    font-weight: bold;

  }
  .up-body-info{
    text-align: center;
    font-size: 20px;
  }
  .match-info{}
  .time{
    font-size: 15px;
  }